

<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/style/syle.css">
<link rel="stylesheet" href="/style/mainshow.css">
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2225138889895982"
crossorigin="anonymous"></script></head>
<style>
  body {
    background-color: black;
  }

  /* Add this CSS to your existing styles */
  .container {
    margin-top: 5rem !important;
    height: 100vh !important;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .col {
    flex: 0 0 calc(33.333% - 1rem); /* Adjust width for small screens */
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #092a42;
    color: bisque;
    border: none;
    border-radius: 1rem;
    overflow: hidden;
  }

  .card-body {
    flex-grow: 1;
    padding: 1rem;
  }

  .card-img-top {
    width: 100%;
    height: 350px; /* Adjust as needed jo donors ki image h unke liye hai  */
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .btn {
    margin-top: auto; /* Align button to the bottom of the card */
    width: 100%;
  }

  /* Media queries for tablets and smaller devices */
  @media (max-width: 991.98px) {
    .col {
      flex: 0 0 calc(50% - 1rem); /* Adjust width for tablets */
    }
  }

  /* Media queries for mobile devices */
  @media (max-width: 767.98px) {
    .col {
      flex: 0 0 calc(100% - 1rem); /* Adjust width for mobile devices */
    }
  }
</style>


<body>
  <div class="container">
    <div class="row hello row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
      <% for(let data of donerdata) { %>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="<%= data.Image %>" class="card-img-top" alt="listing image"> 
            <div class="card-body">
              <h5 class="card-title">
                <%= data.Fname %> <%= data.Lname %>
              </h5>
              <p class="card-text">
                <b>Description:</b> <%= data.Descripition %>
                <br>
                <b>Category:</b> <%= data.For %>
              </p>
              <!-- Email Now button -->
              <!-- Button to open the email modal -->
              <a href="/sendEmail?donorId=<%= data._id %>" class="btn btn-success">Mail Now</a>
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </div>
  
    </body>