<!-- In your HTML/EJS file -->
<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/style/syle.css">
<link rel="stylesheet" href="/style/mainshow.css">

<style>
  .body {
    background-color: #092a42 !important;
  }

  .card {
    padding: 0;
    border: none !important;
    margin-bottom: 2rem;
    background-color: #092a42;
    color: bisque;
  }

  .card-img-top {
    border-radius: 1rem!important;
    width: 100% !important;
    object-fit: cover!important;
  }

  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
  }

  #cat {
    color: rgb(0, 0, 0);
  }

  #for {
    color: rgb(0, 0, 0);
  }

  .hello {
    margin-top: 2rem !important;
  }

  .container {
    margin-top: 5rem !important;
    width: 100% !important;
    min-height: 80vh !important;
    background-color: aquamarine;
    justify-content: space-evenly !important;
  }

  body {
    background-color: aquamarine !important;
    height: 100vh !important;
  }

  #h5 {
    font-weight: 900;
    font-size: 1.5rem;
  }
</style>

<body>
    <div class="container">
      <div class="row hello row-cols-lg-4 row-cols-md-2 row-cols-sm-1">
        <% for(let data of donerdata) { %>
          <div class="card-col hover">
            <img src="<%= data.Image %>" class="card-img-top" style="height: 20rem;" alt="listing image"> 
            <div class="card-body">
              <h5 class="card-text" id="h5"> 
                <%= data.Fname %>   <%= data.Lname %>
                <br>
                <p><b>Description:</b><%= data.Descripition %></p>
                <h5><b>Donation Amount:<%= data.Amount %></b></h5>
                <p id="cat"><b>Category:<%= data.For %></b></p>
                <!-- Email Now button -->
                <!-- Button to open the email modal -->
                <a href="/sendEmail?donorId=<%= data._id %>"> <button class="btn btn-success"> hello</button></a>
  
              
              </h5>
            </div>
          </div>
        <% } %>
      </div>
    </div>
 
    </body>
  
    <!-- Your existing HTML/EJS content -->
  
    <!-- Script for handling form submission -->
    

