
<% layout("/layouts/boilerplate") %>
<head>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2225138889895982"
crossorigin="anonymous"></script></head>


<link rel="stylesheet" href="/style/syle.css">
<link rel="stylesheet" href="/style/mainshow.css">


<link href="https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@600&family=Rubik+Maps&display=swap" rel="stylesheet">
<style>
  /* Custom CSS to minimize image height */
  /* Global Styles */
body {
    background-color: #081b29;
    font-family: Arial, sans-serif;
    color: white;
}

hr {
    color: wheat;
    font-size: 1rem;
}

a {
    text-decoration: none;
}

/* Container Styles */
.container-fluid {
    margin-top: 0rem;
}

/* Home Content Styles */
.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: aqua;
}

/* Sidebar Styles */
.sidebar {
    max-width: 450px;
    background-color: aqua;
    color: chartreuse;
}

/* Image Styles */
.iss {
    border-radius: 25% 75% 85% 15% / 49% 55% 45% 51%;
}

/* Cards Styles */
.card {
    padding: 0;
    border: none !important;
    background-color: #092a42;
    color: bisque;
}

.card-img-top {
    border-radius: 1rem !important;
    object-fit: cover !important;
}

/* Tooltip Styles */
.custom-tooltip .tooltip-inner {
    background-color: white !important;
    color: purple !important;
    font-weight: 400 !important;
    font-size: 1.1rem;
    border-bottom-color: aliceblue !important;
}

.tooltip {
    border-radius: 20px !important;
    background-color: white !important;
}

.custom-tooltip {
    --bs-tooltip-bg: white !important;
    border-bottom-color: white !important;
}

/* Alert Styles */
.alert.alert-success,
.alert.alert-danger {
    color: #fff;
    padding: 12px 15px;
    margin-bottom: 15px;
    border-radius: .25rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert.alert-success {
    background-color: #28a745;
    border-color: #28a745;
}

.alert.alert-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

/* Button Styles */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}

.home{
  margin-top: 5rem !important;
}
/* Mobile-specific Styles */
/* Laptop Styles */
@media (min-width: 768px) and (max-width: 991px) {
    .home {
        margin-left: 100px !important;
     
    }
}

/* Tablet Styles */
@media (min-width: 576px) and (max-width: 767px) {
    .home {
        margin-left: 0.5rem !important;
    }
}

/* Mobile Styles */
.home{
  margin-left: 0rem !important;
}


/* Positioning the icons */
.mobile-icons {
    display: none; /* Initially hide the icons */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
  }

  .mobile-icons a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
  }

  #mobileBottomIcons a:hover {
    background-color: #555; /* Hover background color */
  }
  .review-section {
  margin-top: 5rem;
}

.review {
  max-width: 400px; /* Adjust this value as needed */
  margin: 0 auto;
}

.reviewer-image {
  width: 100px; /* Adjust this value as needed */
  height: 100px; /* Adjust this value as needed */
  border-radius: 50%;
  margin-bottom: 20px;
}

.blockquote {
  font-size: 1.5rem;
  font-style: italic;
  color: #fff; /* Adjust text color as needed */
  border-left: none;
  margin: 0;
  padding: 0;
}

.blockquote p {
  margin: 0;
  padding: 0;
}
.gyo{
  border-radius: 50% !important;
  height: 200px;
  width: 200px;
}
.modal-title{
  color: black;
  font-weight: 600;
  font-size: 1.5rem;
}
.modal-body{
  color: rgb(18, 20, 20);
  font-weight: 400;
}
  /* Custom CSS for the modal */
  .modal-header {
            background-color:  rgb(46, 140, 145);
            color: #fff;
            border-bottom: none;
        }

        .modal-title {
            font-weight: bold;
        }

        .modal-body {
            font-size: 16px;
        }

        .modal-footer {
            justify-content: space-between;
            border-top: none;
        }

        .btn-primary {
            background-color: #0e8bd4;
            border-color: #007bff;
        }

        .btn-primary:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }
        #sidebar{
          color:#dc3545 !important;
          font-size: 4rem !important;
        }
     
    /* CSS for "About Me" button */
    .about-me-btn {
      position: fixed;
      left: 20px;
      bottom: 20px;
      background-color: #dcf30ae8;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      display: none; /* Initially hide the button */
      z-index: 999; /* Ensure it appears above other content */
    }
    body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.content {
  margin-bottom: 20px;
}

.offers ul {
  list-style: none;
  padding: 0;
}

.offers h2 {
  color: #007bff;
}

.offers li {
  margin-bottom: 20px;
}

footer {
  background-color: #f4f4f4;
  color: #333;
  text-align: center;
  padding: 20px 0;
}
#enpower{
  color:aqua;
  font-size: 1.8rem;
  font-weight: 700;
}
#why{
  color:aqua;
  font-size: 1.8rem;
  font-weight: 700;
}
#strong{
  color:aqua;
  font-size: 1.2rem;
  font-weight: 700;
}
#last{
  color: aqua;
  font-weight: 700;
}


/*cusstom*/
.review-section {
  overflow: hidden;
  background-color: #123147;
  color: #ffffff;
  padding: 50px 0;
}

.review-slide-container {
  display: flex;
  transition: transform 0.5s ease;
}

.review-slide {
  flex: 0 0 auto;
  width: 100%;
}

.review-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.reviewer-image {
  width: 200px; /* Adjust as needed  150 both*/
  height: 200px; /* Adjust as needed */
  border-radius: 50% ;
  margin-bottom: 20px;
}

.review-rating {
  margin-top: 10px;
}

.star-rating {
  display: flex;
  justify-content: center;
}

.star-rating i {
  color: #ffc107;
  font-size: 24px;
}

.star-rating i:not(:last-child) {
  margin-right: 5px;
}
/* New styles for mobile devices */
@media (max-width: 576px) {
  .review-section {
    padding: 30px 0; /* Reduce padding for smaller screens */
  }

  .reviewer-image {
    width: 150px; /* Adjusted to 150px for mobile */
    height: 150px; /* Adjusted to 150px for mobile */
    border-radius: 50%; /* Adjusted border radius for mobile */
  }
}

/* Default styles for the mobile navbar */
.mobile-navbar {
  display: none; /* Initially hide the navbar */
}

.mobile-navbar a {
  text-decoration: none;
  color: #ffffff;
}

.mobile-navbar a:hover {
  text-decoration: underline;
}

/* Media query for mobile devices */
@media (max-width: 767px) {
 /* Default styles for the mobile navbar */

  .mobile-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height:60px;
    background-color: #201b1b;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
  }


}
#scholer{
  font-weight: bolder;
  font-size: medium;
}
#home{
font-weight: bolder;
font-size: 1.5rem;
color: aqua;
}
#addreview{
  font-weight: bolder;
  font-size: medium;
}
/* Add this CSS code inside your <style> tag or CSS file */
  .sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  background-color: #333;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px; /* Space for the close button */
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
 
  cursor: pointer;
  color: #fff;
}

.sidebar-content {
  padding: 20px;
}

.sidebar-btn {
  display: block;
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  text-decoration: none;

}

.sidebar-btn:hover {
  background-color: #555;
}




@media (min-width: 768px) {
  .bottom-buttons {
    display: flex; /* Show the buttons */
  }

  .bottom-buttons {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  left: 5px;
  right: 5px;
  margin: 0 auto;
  width: 100%; /* Adjust the width as needed */
  z-index: 999;
}

.scholarship-btn,
.add-review-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #8ad815;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  outline: none;

}

.scholarship-btn:hover,
.add-review-btn:hover {
  background-color: #0056b3;
}

}
  
</style>


<body>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <div class="mobile-navbar">
    <a href="/scholarships" id="scholer"> <i class="fa-solid fa-indian-rupee-sign"></i> &nbsp; scholarship </a>
    <a href="/" id="home"><i class="fa-solid fa-house"></i></a>
    <a href="/review" id="addreview"> <i class="fa-solid fa-plus"></i> &nbsp; Review</a>
  </div>
  <!--
  <a href="/aboutus" class="about-me-btn" id="aboutMeBtn">scholerships</a>
  -->
  <!-- Modal -->
<div class="modal fade" id="educationLoanModal" tabindex="-1" role="dialog" aria-labelledby="educationLoanModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="educationLoanModalLabel">How to Apply for Education Loan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
click on <b>Click Now !</b> here some step that may help you to provide education loan</div>
      <div class="modal-footer">
   
        <a href="/aboutus" class="btn btn-primary">Click Now!</a>
      </div>
    </div>
  </div>
</div>
<!-- show in tab & laptops -->
<div class="bottom-buttons">
    <a href="/scholarshipsc">  <button class="scholarship-btn">Scholarship</button></a>
<a href="/review">  <button class="add-review-btn">Add Review</button></a>
</div>

<!--slidbar laptop and tab -->



  <div class="container-fluid ll">
    <!--banner-->
    <div class="row home">
      <div class="col-md-6  home-content"> 
        <h1>Welcome to Dremers</h1>
        <h3>Funding Basced Site You Can take help and do help of Students</h3>
      <p>We believe in the power of education to transform lives and create a brighter future. At Dremers, we are dedicated to supporting students on their educational journey by providing a platform for compassionate individuals like you to make a positive impact. Your generosity can pave the way for deserving students to access quality education, pursue their dreams, and overcome financial barriers. Together, we can create a ripple effect of change, empowering students to reach their full potential. Your donation, no matter the size, contributes to building a community where education is a catalyst for success. Join us in shaping a better tomorrow by investing in education today. Thank you for being a beacon of hope and making a difference in the lives of aspiring students.</p>
  
        <a href="/donerinput" class="btn btn-success">as doner</a>
        <a href="/student12th" class="btn btn-warning">as Student</a>
      
      </div> <!-- col end-->
      <div class="col-md-4 d-none  d-md-block">
        <img class="iss" src="https://img.freepik.com/premium-photo/portrait-cute-young-student-girl-holding-colorful-notebook-isolated-background_488220-12640.jpg" alt="" class="img-fluid">
      </div>
  </div>

<hr>
<div class="sec row justify-content-center">
  <div class="col-md-3 pa">
<h1>DONERS</h1>
  </div>
</div>
<!--second for doners  justify-content-around -->
<div class=" row mt-3   justify-content-around row-cols-lg-4  row-cols-md-3  row-cols-sm-3">
  <% for(let dtta of data) {%>
    <a  class="col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card  face front col ml-3"  style="width: 18rem;" >
      <img src="<%= dtta.Image %>" class="card-img-top" alt="Doners" style="height: 20rem;">
      <div class="card-body">
        <h4><%= dtta.Fname %>  <%= dtta.Lname %></h4>

      </div>
    </div>
 
  </a>
    <% } %>
    </div>

<hr>

<div class="thrd row justify-content-center">
  <div class="col-md-3 pa">
<h1>STUDENTS</h1>
  </div>
</div>
<div class=" row mt-3 mncard justify-content-around  row-cols-lg-4  row-cols-md-3  row-cols-xs-3" >
  <% for(let dtaa of sdata) {%>
    <a  class="col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card  face front col ml-3"  style="width: 18rem;" >
      <img src="<%= dtaa.studentImage %>" class="card-img-top" alt="Doners" style="height: 20rem;">
      <div class="card-body">
        <h4><%= dtaa.Fname %>  <%= dtaa.Lname %></h4>
        <p class="card-text">  <%= dtaa.city %></p>
      </div>
    </div>
 
  </a>
    <% } %>
    </div>
</div>


<div class="row justify-content-center mt-5">
  <div class="col-md-8">
    <div class="text-center">
      <h2 id="enpower">Empowering Students with Scholarships</h2>
      <p>At Dremers, we are dedicated to providing opportunities for students through various scholarships and funding programs. We believe in nurturing talent and supporting educational endeavors to create a brighter future.</p>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-3">
  <div class="col-md-6 text-center">
    <img class="gyo" src='https://images.pexels.com/photos/1553783/pexels-photo-1553783.jpeg?auto=compress&cs=tinysrgb&w=600' class="img-fluid" alt="Scholarship Image">
  </div>
</div>
<div class="row justify-content-center  mt-3">
  <div class="col-md-8">
    <p>We offer a range of scholarships tailored to various fields of study, academic achievements, and financial needs. Our scholarships aim to remove barriers to education and empower students to pursue their passions without worrying about financial constraints.</p>
    <p>If you are a new donor looking to make a difference, Dremers provides a transparent platform for you to contribute to the education sector. Your support can change lives and open doors to opportunities for deserving students.</p>
    <p>Additionally, we welcome new foundations and organizations to collaborate with us in our mission to support students' educational aspirations. Together, we can build a strong network of support and make a lasting impact on the lives of students across the globe.</p>
  </div>
</div>
<div class="row justify-content-center mt-3">
  <div class="col-md-8">
    <h3 id="why">Why Dremers</h3>
    <p>Dremers is a unique platform designed to empower students by providing access to various scholarship opportunities and educational resources. Here, students can seamlessly apply for ongoing scholarships and connect with foundations at absolutely no cost. Whether you're seeking guidance on how to secure an education loan or facing challenges due to financial constraints, Dremers has got you covered.</p>
    
    <p><strong id="strong">What Dremers Offers:</strong></p>
    <ul>
      <li>Scholarship Opportunities: Explore a wide range of scholarship programs and easily apply to those that match your qualifications and interests.</li>
      <li>Foundation Connection: Connect directly with foundations and organizations offering scholarships and educational support, simplifying the process of seeking financial aid.</li>
      <li>Expert Guidance: Get expert advice and guidance on navigating the complexities of securing an education loan, ensuring you make informed decisions about your financial future.</li>
      <li>Financial Assistance Solutions: Find solutions to common financial challenges students face, such as dealing with unexpected expenses or family financial crises. Dremers provides valuable insights and resources to help you overcome these hurdles effectively.</li>
    </ul>
    
    <p id="last">At Dremers, our mission is to make the pursuit of education more accessible and manageable for students everywhere. Join us today and take the first step towards realizing your academic aspirations!</p>
  </div>
</div>

<!-- Add this section after your existing content, before the footer --><div class="review-section">
<!-- Add this section after your existing content, before the footer -->
<div class="review-section" id="reviewSection">
  <div class="review-slide-container">
    <% for(let review of reviews) { %>
      <div class="review-slide">
        <div class="review-content">
          
          <img src="<%= review.photo %>" alt="Reviewer Photo" class="reviewer-image">
          <div class="review-details"> 
              <p class="review-name"> <b>Name: </b><%= review.name %></p>
            <p class="review-role"><b>Role:</b><%= review.role %></p>
            <p class="review-text"><%= review.review %></p>
            <div class="star-rating">
              <% for(let i=0; i<review.rating; i++) { %>
                <i class="fas fa-star"></i>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</div>



    <!-- container-fluid-->
    </div>
 
<!-- JavaScript for handling icon visibility -->

<script>
  // Function to show the education loan modal after 5 seconds
  
  setTimeout(function() {
    $('#educationLoanModal').modal('show');
  }, 5000);
  $('.modal .close').on('click', function() {
      $(this).closest('.modal').modal('hide');
    });

    // Function to close the modal when the backdrop is clicked
    $('.modal').on('click', function(e) {
      if ($(e.target).hasClass('modal')) {
        $(this).modal('hide');
      }
    });

</script>
<script>
  // Function to toggle the visibility of the "About Me" button based on scroll direction
  let lastScrollTop = 0;
  let aboutMeBtn = document.getElementById('aboutMeBtn');

  window.addEventListener('scroll', function() {
    let currentScroll = window.pageYOffset || document.documentElement.scrollTop;

    if (currentScroll > lastScrollTop) {
      // Scroll down
      aboutMeBtn.style.display = 'block';//none tha 
    } else {
      // Scroll up
      aboutMeBtn.style.display = 'block';
    }

    lastScrollTop = currentScroll;
  });

  // Event listener for the "About Me" button to navigate to another route
  
  aboutMeBtn.addEventListener('click', function(event) {
    event.preventDefault(); // Prevent default link behavior
    window.location.href = this.getAttribute('href'); // Navigate to the specified route
  });

 

</script>


<script>

let lastScrollTopp = 0;
  let aboutMeBtnn = document.getElementById('aboutMeBtn');
  let mobileNavbar = document.querySelector('.mobile-navbar');
  
  window.addEventListener('scroll', function() {
    let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
  
    if (currentScroll > lastScrollTopp) {
      // Scroll down
      aboutMeBtnn.style.display = 'none'; // Hide the "About Me" button when scrolling down
      mobileNavbar.style.bottom = '-100px'; // Hide the navbar when scrolling down
    } else {
      // Scroll up
      aboutMeBtnn.style.display = 'block'; // Show the "About Me" button when scrolling up
      mobileNavbar.style.bottom = '0'; // Show the navbar when scrolling up
    }
  
    lastScrollTopp = currentScroll;
  });
  </script>

<script>
  // Function to automatically switch reviews every 5 seconds
  let slideIndex = 0;
  const slides = document.querySelectorAll('.review-slide');
  const slideContainer = document.querySelector('.review-slide-container');

  function showNextReview() {
    slideIndex++;
    if (slideIndex >= slides.length) {
      slideIndex = 0;
    }
    slideContainer.style.transform = `translateX(-${slideIndex * 100}%)`;
  }

  setInterval(showNextReview, 5000);
  // Add this JavaScript code inside your <script> tag or JavaScript file
function toggleSidebar() {
  var sidebar = document.querySelector('.sidebar');
  if (sidebar.style.width === '250px') {
    sidebar.style.width = '0';
  } else {
    sidebar.style.width = '250px';
  }
}
// Add the following code inside your <script> tag or JavaScript file
  let lastScrollToppp = 0;
let bottomButtons = document.querySelector('.bottom-buttons');

window.addEventListener('scroll', function() {
  let currentScroll = window.pageYOffset || document.documentElement.scrollToppp;

  if (currentScroll > lastScrollToppp) {
    // Scrolling down
    bottomButtons.style.bottom = '-100px'; // Hide the buttons
  } else {
    // Scrolling up
    bottomButtons.style.bottom = '20px'; // Show the buttons
  }

  lastScrollToppp = currentScroll;
});


</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</body>
