<% layout("/layouts/boilerplate") %>
<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2225138889895982"
 crossorigin="anonymous"></script></head>
<link rel="stylesheet" href="/style/syle.css">
<link rel="stylesheet" href="/style/mainshow.css">
<style>
    body {
        background-color: #081b29;
    }

    .row {
        height: 100vh;
        display: flex;
        justify-content: center; /* Center the content horizontally */
        align-items: center; /* Center the content vertically */
    }

    .col-8 {
        max-width: 25rem;
    }

    .card-text {
        color: white;
    }

    @media (max-width: 575px) {
        /* Small devices (phones) */
        .row {
            height: auto; /* Reset height for small devices */
        }

        .col-8 {
            width: 100%; /* Set column width to 100% for small devices */
            max-width: none; /* Reset max-width for small devices */
        }
    }

    @media (min-width: 576px) and (max-width: 767px) {
        /* Medium devices (tablets) */
        .row {
            height: auto; /* Reset height for medium devices */
        }
        .container-fluid{
            margin-top: 5rem !important;
        }
    }

    @media (min-width: 768px) and (max-width: 991px) {
        /* Large devices (landscape tablets) */
        .row {
            height: auto; /* Reset height for large devices */
        }
    }

    @media (min-width: 992px) {
        /* Extra-large devices (desktops) */
        .row {
            height: 100vh; /* Reset height for extra-large devices */
        }
    }
</style>

<body>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-8 ">
                <div class="card" style="width: 25rem;">
                    <img src="<%= raja.Image %>" class="card-img-top" alt="doner photo" style="height:20rem;">
                    <div class="card-body">
                        <h5 class="card-text">
                            <b>Name:</b> <%= raja.Fname %> <%= raja.Lname %><br>
                            <b>Description:</b> <%= raja.Description %><br>
                            <b>For:</b> <%= raja.For %><br>
                            <b>Amount:</b> <%= raja.Amount %>
                        </h5>
                        <button class="btn btn-success">Send Message</button> &nbsp; &nbsp;<button class="btn btn-info">Text</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add this code to your EJS file -->

</body>
