
<% layout("/layouts/boilerplate") %>
<% if(success){ %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= success %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <script>
    // Automatically close the alert after 5 seconds
    setTimeout(() => {
      document.querySelector('.alert').classList.add('d-none');
    }, 2000);
  </script>
<% } %>

    <link rel="stylesheet" href="/style/syle.css">
    <link rel="stylesheet" href="/style/mainshow.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@600&family=Rubik+Maps&display=swap" rel="stylesheet">
    <style>
        /* Custom CSS to minimize image height */
      a{
        text-decoration: none;
      }
      .mncard {
        position: relative;
      }
    hr{
      color: wheat;
      font-size: 1rem;
    }
   
    .pinki{
      color: white;
      background-color: aqua;
      width: 100%;
      height: 20rem;
      border-radius: 20px;
      
    }
    .custom-tooltip .tooltip-inner {
  background-color: white !important;
  color: purple !important;
  color: rgb(18, 9, 18) !important;
  font-weight: 400 !important;
  font-size: 1.1rem;
  border-bottom-color:aliceblue !important
 
}

.tooltip{

  border-radius: 20px !important;
  background-color: white !important;

}
.custom-tooltip{
  --bs-tooltip-bg: white !important;
  border-bottom-color: white !important;
}

 
        </style>
    <body>
<div class="container-fluid">


  <section class=" row home">

    <div class="col-md-6 home-content">
      <h1>Welcome to Dremers</h1>
      <h3>Funding Basced Site You Cant take help and do help of Students</h3>
    <p>We believe in the power of education to transform lives and create a brighter future. At Dremers, we are dedicated to supporting students on their educational journey by providing a platform for compassionate individuals like you to make a positive impact. Your generosity can pave the way for deserving students to access quality education, pursue their dreams, and overcome financial barriers. Together, we can create a ripple effect of change, empowering students to reach their full potential. Your donation, no matter the size, contributes to building a community where education is a catalyst for success. Join us in shaping a better tomorrow by investing in education today. Thank you for being a beacon of hope and making a difference in the lives of aspiring students.</p>
 <div class="btn-box">
      <a href="/donerinput" class="btn btn-success">as doner</a>
      <a href="/student12th" class="btn btn-warning">as Student</a>
    </div>
</div>
<div class="ra col-md-6">

  <img  class="iss" height="400px" src="https://img.freepik.com/premium-photo/portrait-cute-young-student-girl-holding-colorful-notebook-isolated-background_488220-12640.jpg" alt="">

</div>

 
</section>
</div>


  <div class="sec row">
    <div class="col pa">
DONERS
    </div>
  </div>
<div class="container-fluid">

    
  <div class=" row mt-3 mncard justify-content-around  row-cols-lg-4  row-cols-md-3  row-cols-sm-3">
    <% for(let dtta of data) {%>
      <a  class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card  face front col ml-3"  style="width: 18rem;" >
        <img src="<%= dtta.Image %>" class="card-img-top" alt="Doners" style="height: 20rem;">
        <div class="card-body">
          <h4><%= dtta.Fname %>  <%= dtta.Lname %></h4>
          <p class="card-text"><b>Donation Amout:</b> <%= dtta.Amount %> </p>
        </div>
      </div>
   
    </a>
      <% } %>
      </div>
  
 
</div>
<hr>
<div class="thrd row">
  <div class="col pa">
Students
  </div>
</div>
<div class="container-fluid">
  <div class=" row mt-3 mncard justify-content-around  row-cols-lg-4  row-cols-md-3  row-cols-xs-3" >
    <% for(let dtaa of sdata) {%>
      <a  class="col-sm-6 col-md-4 col-lg-3 mb-3">
      <div class="card  face front col ml-3"  style="width: 18rem;" >
        <img src="<%= dtaa.studentImage %>" class="card-img-top" alt="Doners" style="height: 20rem;">
        <div class="card-body">
          <h4><%= dtaa.Fname %>  <%= dtaa.Lname %></h4>
          <p class="card-text">  <%= dtaa.city %></p>
        </div>
      </div>
   
    </a>
      <% } %>
      </div>
</div>
<hr>





   </div>
    </body> 





































    <% layout("/layouts/boilerplate") %>
<% if(success){ %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <%= success %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <script>
    // Automatically close the alert after 5 seconds
    setTimeout(() => {
      document.querySelector('.alert').classList.add('d-none');
    }, 2000);
  </script>
<% } %>

<link rel="stylesheet" href="/style/syle.css">
<link rel="stylesheet" href="/style/mainshow.css">

<link href="https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@600&family=Rubik+Maps&display=swap" rel="stylesheet">
<style>
  /* Custom CSS to minimize image height */
  a{
    text-decoration: none;
  }
  .mncard {
    position: relative;
  }
  hr{
    color: wheat;
    font-size: 1rem;
  }

  .pinki{
    color: white;
    background-color: aqua;
    width: 100%;
    height: 20rem;
    border-radius: 20px;
  }
  
  .custom-tooltip .tooltip-inner {
    background-color: white !important;
    color: purple !important;
    font-weight: 400 !important;
    font-size: 1.1rem;
    border-bottom-color: aliceblue !important;
  }

  .tooltip {
    border-radius: 20px !important;
    background-color: white !important;
  }
  
  .custom-tooltip {
    --bs-tooltip-bg: white !important;
    border-bottom-color: white !important;
  }
 
  #banner{
    margin-top: 7rem ;
  }
</style>

<body>
  <div class="container-fluid">
    <!--banner-->
   <div class="row home">
    <div class="col-md-6  home-content"> 
      <h1>Welcome to Dremers</h1>
      <h3>Funding Basced Site You Cant take help and do help of Students</h3>
    <p>We believe in the power of education to transform lives and create a brighter future. At Dremers, we are dedicated to supporting students on their educational journey by providing a platform for compassionate individuals like you to make a positive impact. Your generosity can pave the way for deserving students to access quality education, pursue their dreams, and overcome financial barriers. Together, we can create a ripple effect of change, empowering students to reach their full potential. Your donation, no matter the size, contributes to building a community where education is a catalyst for success. Join us in shaping a better tomorrow by investing in education today. Thank you for being a beacon of hope and making a difference in the lives of aspiring students.</p>

      <a href="/donerinput" class="btn btn-success">as doner</a>
      <a href="/student12th" class="btn btn-warning">as Student</a>
    
    </div> <!-- col end-->
    <div class="col-md-4 d-none  d-md-block">
      <img src="https://img.freepik.com/premium-photo/portrait-cute-young-student-girl-holding-colorful-notebook-isolated-background_488220-12640.jpg" alt="" class="img-fluid">
    </div>
</div>
 

<!--second for doners  justify-content-around -->
<div class=" row mt-2 mncard  row-cols-lg-4  row-cols-md-3  row-cols-sm-3">
 
  <% for(let dtta of data) {%>
    <a  class="col-sm-6 col-md-4 col-lg-3 mb-3">
    <div class="card  face front col ml-3"  style="width: 18rem;" >
      <img src="<%= dtta.Image %>" class="card-img-top" alt="Doners" style="height: 20rem;">
      <div class="card-body">
        <h4><%= dtta.Fname %>  <%= dtta.Lname %></h4>
        <p class="card-text"><b>Donation Amout:</b> <%= dtta.Amount %> </p>
      </div>
    </div>
 
  </a>
    <% } %>
    </div>

    <!-- container-fluid-->
    </div>


</body>
